@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
:root {
    --header-height: 3rem;

    /*colors*/
    --hue-color: 250;

    /* hsl color modes*/
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;

    /* FONT AND TYPOGRAPY */
    --body-font: 'Open Sans', sans-serif;



    /* 0.5rem= 8px, 1rem=16px ...*/
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.124rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;


    /* margins bottom...*/
    /* 0.4rem=4px 0.5rem= 8px, 1rem=16px ...*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* font for the large devices*/
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: black;
    height: 100%;

}


/* ======================NAVBAR======================== */
li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

i {
    color: white;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.nav__bar {
    position: relative;
}
.header{
    background-color: rgb(1, 1, 52);
    width: 100%;
    height: 3rem;
}
.nav__bar{
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.nav__logo {
    font-weight: var(--font-semi-bold);
    font-size: 30px;
    z-index: 1;
}
.menu__btn{
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 5px;
}
.nav__menu{
    position: relative;
    z-index: 2;
    position: relative;
    width: 100%;
    direction: rtl;
}
.menu__close{
    margin: 10px;
    padding: 5px;
    font-size: 35px;
}
.menu__main{
    height: 100vh;
    background-color: black; 
}
.nav__list{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}
.nav__item{
    padding: 5px;
}
/* container */
.container{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}
.container i{
    color: black;
}

/* ======================HOME======================== */
.home_container{
    height: 100vh;
    margin: 0;
    background-color: black;
}
h1{
    font-weight: var(--font-extra-bold);
    font-size: 70px;
    text-align: center;
    color: #fff714;
    text-shadow: 2px 2px 5px   rgb(255, 238, 83);
}
h1::first-letter{
    font-size: 100px;
}

/* ======================ABOUT======================== */

/* ======================SKILLS======================== */

/* ======================QUALIFICATION======================== */

/* ======================PORTFOLIO======================== */

/* ======================CONTACTME======================== */

/* ======================FOOTER======================== */
