@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --header-height: 3rem;

    /*colors 46*/
    --hue-color: 14;

    --main-color: hsl(14, 100%, 62%);
    --main-color-light: hsl(14, 97%, 67%);
    --main-color-dark: hsl(14, 96%, 41%);
    --first-text-color: hsl(224, 37%, 16%);
    --first-text-color-light: hsl(224, 28%, 33%);
    --second-text-color: hsl(226, 68%, 63%);
    --text-color-regular: hsl(14, 0%, 90%);
    --text-color-regular-light: hsl(14, 14%, 97%);
    --container-color: hsl(14, 0%, 95%);


    /* hsl color modes*/
    /* --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF; */


    /* FONT AND TYPOGRAPY */
    --body-font: 'Open Sans', sans-serif;



    /* 0.5rem= 8px, 1rem=16px ...*/
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.124rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;


    /* margins bottom...*/
    /* 0.4rem=4px 0.5rem= 8px, 1rem=16px ...*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* font for the large devices*/
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--container-color);
    color: black;
    height: 100%;

}


/* ======================NAVBAR======================== */
li {
    list-style: none;
}

i {
    color: white;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: hsl(224, 37%, 16%);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;

}

.nav__bar {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__menu {
    position: fixed;
    width: 100%;
    top: 0;
    right: -100%;
    background-color: #010101;
    transition: .5s;
}

.menu__show {
    right: 0;
}

.menu__close {
    position: absolute;
    top: 5px;
    right: 10px;

}

/* btn rotate */
/* .menu__rotate{
    transform: rotate(90deg);
} */

.menu__main {
    height: 100vh;
    background-color: rgb(9, 9, 9);
}

.menu__btn {
    display: flex;
    align-items: center;
    padding: 5px;
    /* transition: transform 0.5s; */
}

.nav__list {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

.nav__item {
    padding: 5px;
}

.nav__logo {
    font-weight: var(--font-bold);
    font-size: 25px;
    padding-left: 5px;
}

/* section */
.section {
    margin-top: var(--mb-1);
    padding: 5px;
}

/* container */
.container {
    margin-left: 10px;
    margin-right: 10px;
    /* border: 1px solid black; */
}

.section__heading {
    text-align: center;
    margin-bottom: 25px;
    margin-bottom: 15px;
}

/* ======================HOME======================== */
.home_container {
    height: 100vh;
    margin: 0;
    padding-top: 200px;
    background-color: var(--first-text-color);
    /* hsl(46,100%,60%); */

}

.home__data {
    /* border-left: 2px solid white; */
    margin-left: 20px;
    padding-left: 5px;
    color: white;
}

.home__data>.home__title {
    color: var(--main-color);
    font-weight: var(--font-extra-bold);
    font-size: 5rem;
    display: flex;
    justify-content: flex-start;
    height: 75px;
    text-shadow: 10px 5px 5px rgb(28, 17, 13);
}

.person {
    padding-left: 10px;
}

.home__person-title {
    font-size: 1.5rem;
    margin-top: 100px;
    font-weight: var(--font-semi-bold);

}

.home__person-description {
    padding-top: 20px;
}

.home__scroll>a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.home__scroll i {
    color: var(--text-color-regular-light);
}


/* ======================ABOUT======================== */
.about_img {
    width: 150px;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    padding: 10px;
}

.about_desc {
    font-weight: var(--font-regular);
    justify-self: center;
    text-align: center;
    color: var(--first-text-color-light);
}

.about_container {
    display: grid;
    grid-template-rows: 1fr;
}

.about__btn {
    background-color: var(--main-color-light);
    padding: 3px;
    width: 150px;

    align-self: center;
    justify-self: center;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: var(--font-semi-bold);
}

.btn>i {
    font-size: 15px;
    margin-left: 5px;
}

.btn {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.section__title {
    font-weight: var(--font-bold);
    font-size: 1.5rem;
    color: var(--first-text-color);
}

.section__subtitle {
    font-weight: var(--font-medium);
    font-size: 1rem;
    color: var(--first-text-color-light);
}

/* ======================SKILLS======================== */
.skill_arrow {
    color: var(--first-text-color-light);
    font-size: 2rem;
}

.skill_icon {
    color: var(--first-text-color-light);
    font-size: 1.5rem;
    margin-right: 10px;
}

.skill_arrow {
    margin-left: auto;
    transition: .3s;
}

.arrow__rotate {
    transform: rotate(180deg);
}

.skill__heading {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.skill__title {
    font-weight: var(--font-semi-bold);
    font-size: 1.3rem;
    color: var(--first-text-color);
}

.skill__data {
    margin-left: 2.5rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

.skill__data-title {
    display: flex;
    justify-content: space-between;
    color: var(--first-text-color-light);
    margin-bottom: 5px;
}

.skill__name,
.skill__percent {
    font-weight: var(--font-medium);
}

.outer_bar,
.inner_bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--second-text-color);
}

.inner_bar {
    background-color: var(--first-text-color-light);
}

.html_bar {
    width: 70%;
}

.css_bar {
    width: 75%;
}

.javascript_bar {
    width: 80%
}

.react_bar {
    width: 65%;
}

.bootstrap_bar {
    width: 70%;
}

.mongodb_bar {
    width: 50%;
}

.mysql_bar {
    width: 65%;
}

.vscode_bar {
    width: 80%;
}

.eclipse_bar {
    width: 70%;
}

.ps_bar {
    width: 50%;
}

.skill__list {}

.skill__deactive {
    display: none;
}

.skill__list {
    transition: hieght .3s;
}


/* ======================QUALIFICATION======================== */

/* ======================PORTFOLIO======================== */

/* swiper */
.swiper {
    width: 100%;
    height: 100%;

    border-radius: 5px;
    /* box-shadow: 0 0 10px 5px rgb(167, 167, 167); */
}
.swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: var(--container-color);


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper_btn{
    color: #3f3a63;
    font-weight: var(--font-bold);
}
/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
.project_img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.portfolio_container {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.project {
    border-radius: 5px;
    padding-bottom: 20px;

}

.project_title {
    color: var(--first-text-color);
    font-weight: var(--font-semi-bold);
    font-size: 1.3rem;

    margin-left: 10px;
    margin-top: 10px;
}

.project_desc {
    color: var(--first-text-color-light);
    font-weight: var(--font-medium);
    font-size: 1rem;

    margin-left: 10px;
    margin-top: 10px;
}

.project_btn {
    background-color: var(--second-text-color);
    display: flex;
    align-items: center;
    color: var(--text-color-regular);
    font-weight: var(--font-semi-bold);
    font-size: 1rem;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;

    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

/* ======================CONTACTME======================== */

.contact_icon {
    color: var(--first-text-color-light);
    font-weight: var(--font-medium);
}

.contact-box {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.me__phone {
    margin-left: 10px;
}

.me_lable {
    font-weight: var(--font-semi-bold);
    font-size: 1.1rem;

}

.me_box {
    font-size: 0.9rem;
    font-weight: var(--font-medium);
    color: var(--first-text-color-light);
}

.contact__msgme {
    margin-top: 20px;
}

.msg-box {
    background-color: rgb(218, 218, 252);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.msg_lable {
    color: var(--first-text-color-light);
    font-weight: var(--font-medium);
    font-size: 1rem;
    margin-bottom: 5px;
    size: 0.9rem;
}

.msg_input input {
    font-family: var(--body-font);
    color: var(--first-text-color-light);
    font-weight: var(--font-medium);
    font-size: 1rem;
    appearance: none;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    background-color: rgb(218, 218, 252);
    width: 100%;
}

.msg_message {
    height: 120px;
}

.msg_input input:focus-visible {
    outline: none;
    outline-style: none;
    background-color: rgb(218, 218, 252);

}

input:-internal-autofill-selected {
    appearance: initial;
    background-image: none;
    background-color: rgb(218, 218, 252);
    color: inherit;
}

textarea {
    resize: none;
    height: 100%;
    width: 100%;
    color: var(--first-text-color-light);
    font-weight: var(--font-medium);
    font-size: 1rem;
    font-family: var(--body-font);
    background-color: transparent;
    border: none;
}

textarea:focus-visible {
    outline: none;
    outline-style: none;
    background-color: transparent;
}

.contact_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.send__btn {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: var(--font-medium);
    background-color: var(--main-color-light);
    color: var(--text-color-regular-light);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
    margin-bottom: 20px;
}

.msg_btn_icon {
    color: var(--text-color-regular-light);
    margin-left: 5px;
    font-size: 20px;
    font-weight: var(--font-medium);
}

/* ======================FOOTER======================== */