@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
:root {
    --header-height: 3rem;

    /*colors 46*/
    --hue-color: 14;

    --main-color: hsl(14,100%,62%);
    --main-color-light: hsl(14,97%,67%);
    --main-color-dark: hsl(14, 96%, 41%);
    --first-text-color: hsl(224,37%,16%);
    --first-text-color-light: hsl(224, 28%, 33%);
    --second-text-color: hsl(226,68%,63%);
    --text-color-regular: hsl(14,0%,90%);
    --text-color-regular-light: hsl(14,14%,97%);
    


    /* hsl color modes*/
    /* --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF; */


    /* FONT AND TYPOGRAPY */
    --body-font: 'Open Sans', sans-serif;



    /* 0.5rem= 8px, 1rem=16px ...*/
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.124rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;


    /* margins bottom...*/
    /* 0.4rem=4px 0.5rem= 8px, 1rem=16px ...*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* font for the large devices*/
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: black;
    height: 100%;

}


/* ======================NAVBAR======================== */
li {
    list-style: none;
}

i {
    color: white;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.header{
    background-color: hsl(224,37%,16%);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    
}
.nav__bar{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav__menu{
    position: fixed;
    width: 100%;
    top: 0;
    right: -100%;
    background-color: #010101;
    transition: .5s;
}
.menu__show{
    right: 0;
}
.menu__close{
    position: absolute;
    top: 5px;
    right: 10px;

}
/* btn rotate */
/* .menu__rotate{
    transform: rotate(90deg);
} */

.menu__main{
    height: 100vh;
    background-color: rgb(9, 9, 9); 
}

.menu__btn{
    display: flex;
    align-items: center;
    padding: 5px;
    /* transition: transform 0.5s; */
}
.nav__list{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}
.nav__item{
    padding: 5px;
}
.nav__logo {
    font-weight: var(--font-bold);
    font-size: 25px;   
    padding-left: 5px;
}
/* section */
.section{
    margin-top: var(--mb-1);
    padding: 5px;
}
/* container */
.container{
    margin-left: 10px;
    margin-right: 10px;
    /* border: 1px solid black; */
}
.section__heading{
   text-align: center;
}

/* ======================HOME======================== */
.home_container{
    height: 100vh;
    margin: 0;
    padding-top: 200px;
    background-color: var(--first-text-color);
    /* hsl(46,100%,60%); */

}
.home__data{
    /* border-left: 2px solid white; */
    margin-left: 20px;
    padding-left: 5px;
    color: white;
}
.home__data > .home__title{
    color: var(--main-color);
    font-weight: var(--font-extra-bold);
    font-size: 5rem;
    display: flex;
    justify-content: flex-start;
    height: 75px;
    text-shadow: 10px 5px 5px  rgb(28, 17, 13);    
}
.person{
    padding-left: 10px;
}
.home__person-title{
    font-size: 1.5rem;
    margin-top: 100px;
    font-weight: var(--font-semi-bold);
    
}
.home__person-description{
   padding-top: 20px;
}
.home__scroll>a{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 120px;
}
.home__scroll i{
    color: var(--text-color-regular-light);
}


/* ======================ABOUT======================== */
.about_img{
    width: 150px;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    padding: 10px;
}
.about_desc{
    font-weight: var(--font-medi);
    justify-self: center;
    text-align: center;
}
.about_container{
    display: grid;
    grid-template-rows: 1fr;
}

.section__title{
    font-weight: var(--font-bold);
    font-size: 1.2rem;
    color: var(--first-text-color);
}
.section__subtitle{
    font-weight: var(--font-medium);
    font-size: 0.8rem;
    color: var(--first-text-color-light);
}
/* ======================SKILLS======================== */

/* ======================QUALIFICATION======================== */

/* ======================PORTFOLIO======================== */

/* ======================CONTACTME======================== */

/* ======================FOOTER======================== */
